{sub_dirs, [
	   "../apptools",
	   "../quickdraw",	   
	   "../instathread_db",
	   "../instathread_subscriptions"
]}.

{deps, [
       {erlydtl, "", {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
       {ranch, "", {git, "git://github.com/extend/ranch.git", {tag, "0.6.2"}}},
       {cowboy, "", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.2"}}}
]}.