% -*- erlang -*-
{sub_dirs, [
	   "../instathread_subscriptions"
]}.

{deps, [
       {apptools, "", {git, "git://github.com/ericmoritz/apptools.git", {tag, "1.0"}}},
       {poolboy, "", {git, "git://github.com/devinus/poolboy.git", "master"}},
       {eredis, ".*", {git, "git://github.com/wooga/eredis.git", {tag, "v1.0.4"}}},
       {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", "master"}},
       {'iso8601',    ".*",    {git, "git://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}}
]}.
