<!doctype html>
<html>
<body>
  <h1><a href="{{ thread_url }}" id="thread">Thread {{ rootkey }}</a></h1>

  <ol>
    {% for node in nodes %}
    <li>{{ node.author }}: {{ node.body }}</li>
    {% endfor %}
  </ol>

  <h2>Create Thread</h2>
  <form class="thread-reply"
	action=""
	method="POST"
	enctype="application/x-www-form-urlencoded">
    <div><input name="author" placeholder="author"/></div>
    <div><textarea name="body" placeholder="body"></textarea></div>
    <div><input type="submit" value="reply" /></div>
  </form>

  <h2>Links</h2>
  <a class="thread-poll" href="{{ poll_url }}" title="Thread Long Poll">Thread Long Poll</a>

</body>
</html>
